<app-navbar></app-navbar>
<div class="container my-5"> 
    <form >
        <div class="form-group">
            <label for="exampleInputEmail2">Email address</label>
            <input type="text" class="form-control" id="exampleInputEmail2" formControlName="email">
            <div *ngIf="loginform">
                <small class="text-danger">Email is required!!! <br/></small>
              </div>  
            
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Password</label>
            <input type="Password" formControlName="password" class="form-control" id="exampleInputPassword2">
        </div>
        <div class="form-group">
            <label for="exampleInputfirstname">Firstname</label>
            <input type="firstname" formControlName="firstname" class="form-control" id="firstname">
        </div>
        <div class="form-group">
            <label for="exampleInputlastname">Lastname</label>
            <input type="lastname" formControlName="lastname" class="form-control" id="exampleInputlastname">
        </div>
        <div class="form-group">
            <label for="exampleInputphone">phone</label>
            <input type="phone" formControlName="phone" class="form-control" id="exampleInputphone">
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>


<app-footer></app-footer>
